.container {
  display: flex;
}

.content {
  height: 100vh;
  flex: 1;
  padding: 20px;
  background: #f5f6fa;
  margin-left: 220px;
  transition: all 0.3s ease;
}

.collapsed {
  margin-left: 70px;
}