@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap');

.container {
    font-family: Manrope;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
}

.form {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.form h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #1e3a8a;
    font-weight: bolder;
}

.form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    color: #000000;
    font-size: 16px;
}

.form button {
    width: 100%;
    font-weight: bolder;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background: #1d4ed8;
}

.form button:disabled {
    background: #93c5fd;
    cursor: not-allowed;
}

.error {
    margin-bottom: 20px;
    color: red;
    text-align: center;
}


.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.formGroup label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #3a3a3a;
    font-weight: bold;
}

.formGroup input {
    padding: 10px 12px;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.formGroup input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordContainer input {
    width: 100%;
    padding-right: 40px;
    margin-bottom: 0;
}

.toggleButton {
    position: absolute;
    right: 10px;
    background: none !important;
    border: none !important;
    color: #666 !important;
    cursor: pointer;
    font-size: 14px;
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}

.toggleButton:hover {
    color: #333 !important;
}