@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap');

.container {
  font-family: Manrope;
  height: 100%vh;
}

.title {
  margin-bottom: 16px;
  background-color: rgb(21, 0, 211);
  color: white;
  padding: 10px;
  padding-left: 25px;
  border-radius: 10px;
  text-align: left;
  font-weight: bolder;
  font-size: larger;
}

/* FORM */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* mỗi group */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* label */
.label {
  font-size: 17px;
  padding-left: 2px;
  font-weight: bolder;
  color: #000000;
  text-align: left;
  font-family: Manrope;
}

.form input,
.form select {
  padding: 8px;
  border: 1px solid #5b5959;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000;
  font-family: Manrope;
  font-size: 16px;
}

.form input:focus,
.form select:focus {
  outline: none;
  border-color: #4a6cf7;
}

.submit_btn {
  background-color: rgb(0, 164, 22) !important;
  color: white;
  border-radius: 5px;
  font-weight: bolder !important;
  width: 160px;
  margin-top: 32px;
  height: 42px;
  border: none;
  font-family: Manrope;
  font-size: medium;
}


.formActions {
  display: flex;
  gap: 10px;
}

.cancel_Btn {
  background-color: #575757 !important;
  color: white;
  border-radius: 5px;
  font-weight: bolder !important;
  width: 70px;
  margin-top: 32px;
  height: 42px;
  border: none;
  font-family: Manrope;
  font-size: medium;
}

.cancel_Btn:hover {
  background-color: #a6a6a6 !important;
}


/* TREE */
.treeContainer {
  border: 1px solid #dcdcdc;
  padding: 15px;
  padding-left: 10px;
  border-radius: 8px;
  background: #f7f9fb;
  overflow: hidden;
}

/* container của node */
.treeItem {
  display: flex;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
}

/* bên trái (indent nằm ở đây) */
.left {
  display: flex;
  text-align: left;
  gap: 8px;
  flex: 1;
}

/* icon expand */
.expandIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 16px;
}

/* text */
.nodeName {
  flex: 1;
}

/* input edit */
.editInput {
  flex: 1;
  padding-left: 10px;
  background-color: #8c8c8c;
  border-radius: 5px;
  width: 500px;
}

/* actions bên phải */
.actions {
  display: flex;
  gap: 10px;
  min-width: 70px;
  justify-content: flex-end;
}

/* icon */
.icon {
  cursor: pointer;
}

.icon:hover {
  opacity: 0.7;
}




/* dấu * bắt buộc */
.required {
  color: red;
  margin-left: 4px;
}

/* box ghi chú */
.noteBox {
  margin-top: 16px;
  padding: 12px 16px;
  border: 1px solid #dfe3e8;
  border-radius: 6px;
  background-color: #f9fafb;
  font-size: 14px;
  color: #333;
}

/* tiêu đề */
.noteTitle {
  font-weight: 600;
  margin-bottom: 8px;
}

/* list */
.noteBox ul {
  padding-left: 18px;
  margin: 0;
}

.noteBox li {
  margin-bottom: 4px;
  line-height: 1.5;
}


/* base icon */
.icon {
  cursor: pointer;
  transition: all 0.2s ease;
}

/* ===== COLORS ===== */

/* edit */
.editIcon {
  color: #262626;
}

.editIcon:hover {
  color: #262626;
  transform: scale(1.15);
}

/* delete */
.deleteIcon {
  color: #e53935;
}

.deleteIcon:hover {
  color: #b71c1c;
  transform: scale(1.15);
}